body {
  font-family: sans-serif;
  text-align: center;
  padding: 3rem;
  font-size: 1.125rem;
  line-height: 1.5;
  transition: all 725ms ease-in-out;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  text-align: center;
}

p {
  margin-bottom: 1rem;
  color: black;
  font-size: 0.8rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

input[type=text] {
  width: 80%;
  height: 2vw;
  margin: 8px 0;
  background-color: #34495e;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-left: 4px solid #2c3e50;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
  
input[type=text] {
  color: white;
}

input[type=text]:focus {
  background: gray;
}

button {
  height: 2vw;
  cursor: pointer;
  appearance: none;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #34495e;
  color: #F0627E;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 4px solid #2c3e50;
}

button:focus {
  background-color: #34495e;
}

/* Style the header */
.header {
  background-color: #F5E518;
  text-align: center;
  font-size: 5px;
  color: #A80A34;
  border-radius: 4px;
  border: 4px solid #F5275D;
}
  
/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 620px;
}

/* Left and right column */
.column.side {
  width: 25%;
}
  
/* Middle column */
.column.middle {
  width: 50%;
}
  
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 900px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

.scrollabletextbox {
  height:500px;
  width:300px;
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 60%;
  overflow:scroll;
  border-radius: 2px;
  border: 2px solid #2c3e50;
  background-color: white;
  margin: auto;
	display: block;
}

.game {
  width: 100vw;
  height: 100vw;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  display: grid;
  grid-template: repeat(21, 1fr) / repeat(21, 1fr)
}
  
.game>div {
  width: 2,5vw;
  height: 2,5vw;
  border: 1px solid #2c3e50;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
@media (min-width: 600px) {
  .game {
    width: 600px;
    height: 600px;
    border-radius: 10px;
    border: 6px solid #2c3e50;
  }
  
  .game>div {
    border-radius: 2px;
  }
}

.points {
  width: 100vw;
  height: 100vw;
  margin: 0 auto;
  background-color: #34495e;
  color: #F0627E;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr)
}
  
.points>div {
  width: 2,5vw;
  height: 2,5vw;
  border: 1px solid #2c3e50;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
@media (min-width: 100px) {
  .points {
    width: 300px;
    height:150px;
    border-radius: 10px;
    border: 6px solid #2c3e50;
  }
  
  .points>div {
    border-radius: 2px;
  }
}
