%% == Erlang Compiler ==
{minimum_otp_vsn, "21.0"}.

{erl_opts, [debug_info]}.

%% == Plugins ==
{project_plugins        , [coveralls]}.

%% == Deps ==
{deps, [
      {redbug      , ".*", {git, "https://github.com/massemanet/redbug",      {tag, "1.2.1"}}},
      {gproc       , ".*", {git, "https://github.com/uwiger/gproc",           {branch, "master"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [erlgame]}
]}.

{relx, [{release,{erlgame, "1.0.0"}, [erlgame, sasl]},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}
]}.

%% == Profiles info ==

{profiles, [
             {prod, [{relx, [{dev_mode, false},
                             {include_erts, true}
                            ]
                    }]
             },
             {test, [{deps, [ {meck,         "0.8.13"}
                            ]
                    }]
           }]
}.

%% == Coveralls info ==

{coveralls_coverdata    , "_build/test/cover/ct.coverdata"}.
{coveralls_service_name , "travis-ci"}.

%% == Common Test ==

%% {erl_opts, [...]}, but for CT runs
{ct_compile_opts, []}.
%% {erl_first_files, ...} but for CT runs
{ct_first_files, []}.
%% Keep only the logs of the last 5 runs
{ct_opts, [{keep_logs, 5}, {verbose,  true}]}.

%% Whether to enable coverage reporting where commands support cover.
{cover_enabled, true}.
{cover_export_enabled, true}.

%% Modules to exclude from cover
{cover_excl_mods, [erlgame_test_SUITE]}.

%% Options to pass to cover provider
{cover_opts, [verbose]}.
